body {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000000;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}
.btn {
  border: 3px solid orange;
  padding:10px 30px;
  color: orange;
  text-decoration: none;
  margin-right: 5px;
  font-size: 13px;
  text-transform: uppercase;
  float: right;
}


.btn-one {
  padding: 12px 28px;
  font-family: 'Balsamiq Sans', cursive;
  background-color: #04BFBF;
}

.btn-one:hover{
  color: white;
  background-color: pink;
  transition: all 0.5s ease-in;
}

.btn-two {
  padding: 12px 28px;
  font-family: 'Balsamiq Sans', cursive;
  background-color: #04BFBF;
}

.btn-two:hover{
  color:white;
  background-color: pink;
  transition: all 0.5s ease-in;
}
